<!--<class="disease-card">
        <div class="disease-card-name">
            <p class="disease-card-name-p">{{dID}}</p>
        </div>
        <div class="disease-card-id">
            <p class="disease-card-id-p">{{dName}}</p>
        </div>
    </class>
  -->
<div>
  
  {{dID}}

  {{dName}}

</div>
