<div id="modal-backdrop" class="hidden"></div>
<div id="disease-modal" class="hidden">
	<div class="modal-dialogue">

		<div class="modal-header">
			<h3>Name: {{dName}}</h3>
			<button type="button" class="exit-modal-button">Exit</button>
		</div>

		<div class="modal-body">
			<div class="disease-modal-id">Disease ID: {{dID}}</div>

			<div class="disease-modal-treatments">PLACEHOLDER</div>

		</div>
	</div>
</div>
