<div id="modal-backdrop" class="hidden"></div>
<div id="disease-modal" class="hidden">
    <div class="modal-dialogue">
        <div class="modal-header">
            <h3>Disease Information</h3>
        </div>

        <div class="modal-body">
            <h4>Name: {{dName}}</h4>
            <h4> ID: {{dID}} </h4>
            <div class="disease-card-name">
                <p class="disease-card-name-p"> </p>
            </div>

            <h5 id="treatment-head">Treatment Options: </h5>
            <div class="disease-card-id">
                <div class="treat-options">
                    <div>Name: {{tName}}</div>
                    <div> ID: {{tID}} </div>
                </div>
            </div>
        </div>

        <button type="button" onclick="closeModalDisease()" class="exit-modal-button">Exit</button>
    </div>
</div>
