<article id={{_id}} class="location-card">
	<class="location-card">
		<div class="location-card-address">
			<p class="location-card-address-p">{{Address}}</p>
		</div>
		<div class="location-card-id">
			<p class="location-card-id-p">{{bID}}</p>
		</div>
		<div class="location-card-img">
			<img src="https://cdn.britannica.com/12/130512-004-AD0A7CA4/campus-Riverside-Ottawa-The-Hospital-Ont.jpg">
		</div>
	</class>
</article>
