<div id="modal-backdrop" class="hidden"></div>
<div id="patients-modal" class="hidden">
	<div class="modal-dialogue">

		<div class="modal-header">
			<h3>Name: {{pName}}</h3>
			<button type="button" class="exit-modal-button">Exit</button>
		</div>

		<div class="modal-body">
			<div class="patient-modal-id">{{pID}}</h3>

			<div class="patient-modal-age">{{Age}}</h3>
		</div>
	</div>
</div>
