<div id="Staff_block">
<h2 id="Staff-name">{{this.sName}} </h2>

<div id="Staff-info">Employee type: {{this.Employee_Type}}</div>

<div id="Staff-info">ID: {{this.sID}}</div>

<div id="Staff-info">Building ID: {{this.Staff_bID}}</div>
</div>
