<div id="modal-backdrop" class="hidden"></div>
<div id="staff-modal" class="hidden">
	<div class="modal-dialogue">

		<div class="modal-header">
			<h3>Name: {{sName}}</h3>
			<button type="button" class="exit-modal-button">Exit</button>
		</div>
		
		<div class="modal-body">
			<div class="staff-modal-img">PLACEHOLDER</div>

			<div class="staff-modal-sid">Staff ID: {{sID}}</div>

			<div class="staff-modal-position">Position: {{Employee_Type}}</div>
		</div>
	</div>
</div>
