<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset="utf-8">
    <title> <!-- Handlebar Element Goes Here! {{}} --> </title>
    <link rel ="stylesheet" href="/css/master.css">
</head>
<body>
    <!-- Header for HBS goes here -->
    <main>
      <!-- Body HBS goes here -->
    </main>
</body>
</html>
