<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Our Hospital Website </title>
    <link rel="stylesheet" href='/public/styles.css' />
</head>
<body id="page">
    <header>
        <h1 id="header"> Our Hospital </h1>
        <nav>
        <div id="nav_text">
          <a class="nav_link" id="home-button" href="home-page.handlebars"> Home </a> |
          <a class="nav_link" id="staff-button" href = "staff.handlebars"> Staff </a> |
          <a class="nav_link" id="patient-page" href="patients.handlebars"> Patients </a> |
          <a class="nav_link" id="diesases" href="dieseases.handlebars"> Diseases </a>
        </div>
        </nav>
    </header>

    <div id="body"> {{{body}}} </div>

</body>

</html>
