<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Our Hospital Website </title>
    <link rel="stylesheet" href="/public/styles.css" />
</head>
<body>
    <header>
        <h1> Our Hospital </h1>
<<<<<<< HEAD
    <div>
=======
        <h1> Main Portal </h1>
        <div>
>>>>>>> 5c7d6daca83a71c304698c97003fdc6ec7ecc6d4
      <a id="home-button" href="home-page.handlebars"> Home </a>
      <a id="staff-button" href = "staff.handlebars"> Staff  </a>
      <a id="patient-page" href="patients.handlebars"> Patients </a>
      <a id="diesases" href="dieseases.handlebars"> Diseases </a>
    </div>
    </header>

    <div> {{{body}}} </div>

</body>

</html>
