<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Our Hospital Website </title>
    <link rel="stylesheet" href="/public/styles.css" />
</head>
<body>
    <header>
        <h1> Our Hospital </h1>
        <div>
<<<<<<< HEAD
      <a id="home-button" href="home-page.handlebars"> Home </a>
      <a id="staff-button" href = "staff.handlebars"> Staff  </a>
      <a id="patient-page" href="patients.handlebars"> Patients </a>
      <a id="diesases" href="dieseases.handlebars"> Diseases </a>
      <input type="text" placeholder="Search Bar" value="">
=======
      <a id="home-button" loadedpage= "home-page.html"> Home </a>
      <a id="staff-button" loadedpage= "staff.html"> Staff  </a>
      <a id="patient-page" loadedpage= "patients.html"> Patients </a>
      <a id="diesases" loadedpage= "diseases.html"> Diseases </a>
      <input type="text" placeholder="Search Bar" value=""> 
>>>>>>> d79048089d456fb5c8f68e50f7be57db44c94db1
    </div>
    </header>

    <div> {{{body}}} </div>

</body>

</html>
