<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Our Hospital Website </title>
    <!--<link rel ="stylesheet" href="/css/master.css"> -->
</head>
<body>
    <header>
        <h1> Our Hospital </h1>
        <div>
      <a id="home-button" loadedpage= "home-page.html"> Home </a>
      <a id="staff-button" loadedpage= "staff.html"> Staff  </a>
      <a id="patient-page" loadedpage= "patients.html"> Patients </a>
      <a id="diesases" loadedpage= "diseases.html"> Diseases </a>
      <input type="text" placeholder="Search Bar" value=""> 
    </div>
    </header>

    <div> {{{body}}} </div>

</body>

</html>
