<h1 id="title-of-page"> Location</h1>

<button type="button" class="add-location-button">Add Location</button>

<div class="location-for-handlebars">

<div class="content-for-modal">

{{#each rows}}

{{> location this}}

{{/each}}

</div>

{{> addLocationModal}}

</div>
