

<h1> Location:</h1>

{{#each rows}}

{{> location this}}
<!--<div > Building ID: {{this.bID}} </a>

   Location Variables Go Here </div>

  <div> Address:  {{this.Address}}

    Location Variables Go Here  </div>
</div> -->
{{/each}}
