<h1 id="title-of-page"> Location</h1>

<div class="content-for-modal">

{{#each rows}}

{{> location this}}

<!--<div > Building ID: {{this.bID}} </a>

   Location Variables Go Here </div>

  <div> Address:  {{this.Address}}

    Location Variables Go Here  </div>
</div> -->
{{/each}}

</div>
