<h1> Patients </h1>

<div>
<h2> Patient #1</h2>
      <div>
        <div>
          Name: Reggie Harold
        </div>
        <div>
          ID: 456790
        </div>
        <div>
          Suffers From: Psychosis
        </div>
      </div>
</div>

<div>
  <h2> Patient #2 </h2>
      <div>
        <div>
          Name: Joury Kiln
        </div>
        <div>
          ID: 1256
        </div>
        <div>
          Suffers From: Anxiety Attack
        </div>
      </div>
</div>
