<h1 id="sub-head"> Patients </h1>

<div id="P_block">
<h2 id="patient"> Reggie Harold</h2>
      <div>
        <div id="P_info">
          ID: 456790
        </div>
        <div id="P_info">
          Suffers From: Psychosis
        </div>
      </div>
</div>

<div id="P_block">
  <h2 id="patient"> Joury Kiln </h2>
      <div>
        <div id="P_info">
          ID: 1256
        </div>
        <div id="P_info">
          Suffers From: Anxiety Attack
        </div>
      </div>
</div>

<div id="P_block">
  <h2 id="patient"> Joury Kiln </h2>
      <div>
        <div id="P_info">
          ID: 1256
        </div>
        <div id="P_info">
          Suffers From: Anxiety Attack
        </div>
      </div>
</div>

<div id="P_block">
  <h2 id="patient"> Joury Kiln </h2>
      <div>
        <div id="P_info">
          ID: 1256
        </div>
        <div id="P_info">
          Suffers From: Anxiety Attack
        </div>
      </div>
</div>

<div id="P_block">
  <h2 id="patient"> Joury Kiln </h2>
      <div>
        <div id="P_info">
          ID: 1256
        </div>
        <div id="P_info">
          Suffers From: Anxiety Attack
        </div>
      </div>
</div>

<div id="P_block">
  <h2 id="patient"> Joury Kiln </h2>
      <div>
        <div id="P_info">
          ID: 1256
        </div>
        <div id="P_info">
          Suffers From: Anxiety Attack
        </div>
      </div>
</div>
