{{>header}}


<h1 id="sub-head"> Patients </h1>

{{#each rows}}

{{> patientCard this}}

{{/each}}

<!--
<div id="P_block">
<h2 id="patient"> Reggie Harold</h2>
      <div>
        <div id="P_info">
          ID: 456790
        </div>
        <div id="P_info">
          Suffers From: Psychosis
        </div>
      </div>
</div>
-->
