<h1> Staff </h1>

<div>
  <div>
      <img src="https://us.123rf.com/450wm/dolgachov/dolgachov1712/dolgachov171201323/92019175-happy-doctor-with-clipboard-at-clinic.jpg?ver=6" alt="Doctor Pitts">
      <div>
        <div>
          Name: Joe Pitts
        </div>
        <div>
          ID: 34567
        </div>
        <div>
          Employee Type: Doctor
        </div>
      </div>
  </div>
</div>

<div>
  <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIKnmzNlGICU-HOwJAgMVnJnpI68YhVwQG0ob-m3-YiVTsd2FPSg&s" alt="Doctor Adams">
      <div>
        <div>
          Name: Ron Adams
        </div>
        <div>
          ID: 66543
        </div>
        <div>
          Employee Type: Nurse
        </div>
      </div>
  </div>
</div>
