header{
    text-align: center;
}

#header{
    position: relative;
    width: 80%;
    background-color: #27A5DE;
    height: 60px;
    font-weight: bolder;
    left: 10%;
    font-size: 50px;
    border-radius: 30px;
    margin: 10px;
}

#page{
    background-color: #030B91;
}

#body{
    position: relative;
    width: 95%;
    left: 2%;
    background-color: #E0E0E0;
    border-radius: 30px;
    border: 3px solid white;
    padding: 10px;
}

#P_block{
    width: 100%;
    background-color: white;
    height: 125px;
    border-radius: 10px;
    padding-top: 3px;
    margin-bottom: 10px;
}

#sub-head{
    font-weight: 50px;
    margin: 10px;
    margin-top: 0;
}

#patient{
    font-size: 24px;
    margin: 10px;
}

#P_info{
    font-size: 18px;
    padding: 10px;
    padding-top: 0px;
}

nav{
    background-color: #E0E0E0;
    text-align: center;
    height: 50px;
    margin: 20px;
}

#nav_text{
    font-size: 28px;
    padding: 10px;
}

.nav_link{
    margin-left: 20px;
    margin-right: 20px;
}

#main_header{
    font-weight: bolder;
    font-size: 75px;
    background-color: blue;
    height: 90px;
    width: 1000px;
    text-align: center;
}

.location-handlebars{
  width: 275px;
  height: 225px;
  margin: 12.5px;
  align-content: center;
}

.location-handlebars:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  opacity: 1;
  transform:  scale(1.05);
}

.box-for-picture {
    margin: 10px;
}

.text-for-building{
  display: block;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 20px;
}

.container-of-info{
    margin: 15px;
    margin-top: 30px;
    background-color: #27A5DE;
}

.picture-modal {
    width: 400px;
    height: 350px;
}

.modal-dialogue {
    color: white;
    align-items: center;
    border: 1px solid white;
    padding: 20px;
    margin: 50px;
    width:90%;
    height: 90%;
}

.whole-container-home{
    width: 330px;
    height: 400px;
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    background: white;
}

#title-of-page{
    display: block;
    position: relative;
    align-content: center;
    text-align: center;
    width: 75%;
    left: 12.5%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bolder;
    background-color: #2B909B;
    border-radius: 30px;
    height: 50px;
    font-size: 40px;
}

#location-modal {
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.location-header {

  text-align: center;
  color: white;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.95);
}

.modal-dialog{
color: white;

}

.disease-for-text-bin {
border: 1px solid black;
margin: 20px;
padding: 20px;
background-color: white;
border-radius: 15px;
}

.disease-for-text-bin:hover{
  cursor: pointer;
  transition: all .3s ease-in;
  opacity: 1;
  transform:  scale(1.05);
}

#disease-modal {
  position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1010;
   overflow: scroll;
}

.modal-header {
    text-align: center;
    color: white;
}

.hidden {
    display: none;
}

.add-location-button{
    position: relative;
    left: 44%;
    font-size: 24px;
    margin-bottom: 15px;
    background-color: #27A5DE;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px;
    width: 175px;
    border: 1px solid #030B91;
}